#include "windows.h"

Dialog DIALOGEX FIXED IMPURE  45, 38, 40, 12
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_3DLOOK | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST | WS_EX_TOOLWINDOW
CAPTION "Password"
FONT 10, "Arial"
BEGIN
	LTEXT		"Scann: ON", 100, 2,2,144,12
END
