;(c) Vecna 2001

#include "d:\masm32\include\resource.h"

#define IDC_PORT        1103
#define IDC_REMOVE      1104
#define IDC_REMPORT     1105
#define IDC_LISTPORT    1107
#define IDC_LIST        1110
#define IDC_SERVERIP    1101
#define IDC_QUIT        1102
#define IDC_CONNECT     1106
#define IDC_REDIRECT    1108
#define IDC_IP          1109

PROXYGUI DIALOG 109, 110, 195, 118
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Schadenfreude Client 0.1"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Connect", IDC_CONNECT, 137, 7, 50, 14
 PUSHBUTTON "Redirect", IDC_REDIRECT, 137, 29, 50, 14
 PUSHBUTTON "Remove", IDC_REMOVE, 137, 49, 50, 14
 PUSHBUTTON "List", IDC_LISTPORT, 137, 69, 50, 14
 PUSHBUTTON "Quit", IDC_QUIT, 137, 97, 50, 14
 EDITTEXT IDC_SERVERIP, 9, 8, 120, 12, ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_IP, 9, 30, 84, 12, ES_AUTOHSCROLL
 EDITTEXT IDC_PORT, 99, 30, 30, 12
 EDITTEXT IDC_REMPORT, 99, 50, 30, 12
 LISTBOX IDC_LIST, 9, 69, 119, 49, LBS_STANDARD
 LTEXT "Schadenfreude Client 0.1", -1, 10, 51, 81, 12
}

