#include <windows.h>
#include "infector.h"

aaa ICON "infector.ico"

ID_DIALOG DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE	10, 10, 183, 76, 0
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION "Kuang2: Infector v0.12"
FONT 12, "System"
BEGIN
	LTEXT			"File to infect:", ID_STATIC1,  8,8,68,8, SS_LEFT
	EDITTEXT		ID_EDIT1,	8,16,104,12, ES_AUTOHSCROLL | ES_LEFT
	PUSHBUTTON		"&Open", ID_BUTTON1,     116,16,24,12
	LTEXT			"Virus file", ID_STATIC2,   8,36,68,8, SS_LEFT
	EDITTEXT		ID_EDIT2,	8,44,104,12, ES_AUTOHSCROLL | ES_LEFT
	PUSHBUTTON		"O&pen", ID_BUTTON2,     116,44,24,12
	PUSHBUTTON		"&Infect", ID_INFECT,   144,16,36,40
	CTEXT			"<weird173@yahoo.om>", ID_INFO, 0,64,184,8, SS_LEFT
END


