body {
background: #191919;
}

#wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 850px;
    width: 700px;
    background: #191919;
}

#imggif {
    background: url('../images/1.gif') center no-repeat;
    background-size: 290px;
    height: 300px;
}

#title {
    text-align: center;
}

#title h2 {
    color: #ffffff;
    font: 50px verdana, arial, helvetica, sans-serif;
}

#cssmenu {
  background: #191919;
  border: 5px;
  border-style:solid;
  border-left-color: #191919;
  border-right-color: #191919;
  border-top-width: 0px;
  border-bottom-width: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: auto;
}


#cssmenu ul {
  margin-left: 110px;
  height: 20px;
  list-style: none;
}


#cssmenu li {
  float: left;
}


#cssmenu li a {
  background: #191919;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}

#cssmenu > ul > li > a {
  color: #ffffff;
}
#cssmenu ul ul a {
  color: #ffffff;
}


#cssmenu li ul {
  background: #191919;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: auto;
  z-index: 200;
}

#cssmenu li:hover ul {
  display: block;
}

#cssmenu li li {
  background: url('images/sub_sep.png') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: auto;
}

#cssmenu li:hover li a {
  background: none;
}

#cssmenu li ul a {
  display: block;
  height: 30px;
  font-size: 11px;
  font-style: normal;
  margin: 0px;
  text-align: left;
}

#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #191919;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}

#cssmenu p {
  clear: left;
}

