#define IDI_ICON  101
#define IDI_BKG   102
#define IDM_EXIT 1
#define IDM_C0   16
#define IDM_C1   17
#define IDM_C2   18
#define IDM_C3   19
#define IDM_P0   32
#define IDM_P1   33
#define IDM_P2   34
#define IDM_P3   35
#define IDM_P4   36
#define IDM_P5   37
#define IDM_T0   48
#define IDM_T1   49
#define IDM_T2   50
#define IDM_T3   51
#define IDM_T4   52
#define IDM_T5   53
#define IDM_T6   54
#define IDM_T7   55
#define IDM_S0   64
#define IDM_S1   65
#define IDM_S2   66
#define IDM_S3   67
#define IDM_S4   68
#define IDM_S5   69
#define IDM_M0   80
#define IDM_M1   81
#define IDM_M2   82
#define IDM_M3   83

IDI_ICON               ICON DISCARDABLE       "viewer.ico"
IDI_BKG                BITMAP DISCARDABLE     "viewer.bmp"
Todays_Menu MENU
{
 POPUP "&File"
        {
         MENUITEM SEPARATOR
         MENUITEM "E&xit",IDM_EXIT
        }
 POPUP "&Contents"
        {
         MENUITEM "&Index",IDM_C0
         MENUITEM "&History",IDM_C1
         MENUITEM "&Greetings",IDM_C2
         MENUITEM "&Disclaimer",IDM_C3
        }
 POPUP "&Philosophy"
        {
         MENUITEM "Interview:  Thomas Ray", IDM_P0
         MENUITEM "Interview:  Mark Ludwig", IDM_P1
         MENUITEM "Interview:  Sarah Gordon", IDM_P2
         MENUITEM "Great Debate:  Metamorphism", IDM_P3
         MENUITEM "Great Debate:  Infection Theory", IDM_P4
        }
 POPUP "&Technology"
        {
         MENUITEM "Introducing Crunchers", IDM_T0
         MENUITEM "Covering Your Tracks", IDM_T1
         MENUITEM "Win32 Hints and Tips", IDM_T2
         MENUITEM "How AVs Detect Viruses", IDM_T3
         MENUITEM "Random Number Generation", IDM_T4
         MENUITEM "Analysis of Common RNGs", IDM_T5
         MENUITEM "Correct Exception Handling", IDM_T6
         MENUITEM "Using Advanced MASM Features", IDM_T7
        }
 POPUP "&Source"
        {
         MENUITEM "Win32.Omoikane", IDM_S0
         MENUITEM "Win32.Isis", IDM_S1
         MENUITEM "Win32.Imports", IDM_S2
         MENUITEM "Win32.Seiryo", IDM_S3
         MENUITEM "Linux.Spork V2", IDM_S4
         MENUITEM SEPARATOR
         MENUITEM "Viewer", IDM_S5
        }
 POPUP "Co&ntributions"
        {
         MENUITEM "Metaphase VX Team - MKS.Rod.a", IDM_M0
         MENUITEM "Metaphase VX Team - XM.Retro.a", IDM_M1
         MENUITEM "Metaphase VX Team - XM.Laroux.a Disassembly", IDM_M2
         MENUITEM "NoMercy VirusTeam - KaZaA.Betta.a", IDM_M3
        }
}
