#define IDM_GOODBYE 2
#define IDM_ABOUT 3

GUIexample MENU
{
 POPUP "&Exit"
        {
         MENUITEM "&Quit", IDM_GOODBYE
        }
 POPUP "&About"
        {
         MENUITEM "&About",IDM_ABOUT
        } 
}
